/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*start design*/

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  max-width:100%;
  text-align: center;
}

html {
  font-size: 62.5%
}

body {
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 0;
  height: 100%;
  width: 100%;
}

body::after{
    background: url("https://images.unsplash.com/photo-1496674205429-924b32acd421?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-size: 100% 100%;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1; 
}

.aboutme {
  font-size: 2rem;
  font-family: 'Arvo', serif;
  color: whitesmoke;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
      1px 1px 0 #000;  
  margin-bottom: 0;
  padding-bottom: 0;  
}

.testdome {
  margin-left: 87rem;
}

.icon {
  text-align: center;
  padding-bottom: .5rem;
  margin-top: 5rem;
}


.fa-github-square {
  color: #E94F32;
}

.fa-github-square:hover {
  color: #E94F32;
  opacity: .6;
}

.fa-linkedin-square {
  color:#0C61C0;
}

.fa-linkedin-square:hover {
  color:#0C61C0;
  opacity: .6;
}

.links {
  text-decoration: none;
  color: whitesmoke;
}

.links:hover {
  text-decoration: none;
}

.sylvan, .Lego, .Tynker, .title {
  padding-top: .5rem;
  text-align: center;
}

.teach {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar  {
  font-family: 'Anton', sans-serif;
  color: whitesmoke;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(63,76,107);
  background: linear-gradient(0deg, rgba(63,76,107,1) 0%, rgba(96,108,136,1) 100%);
}

ul {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  padding-top: .5rem;
  padding-bottom: .5rem;
  justify-content: space-between;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
  text-decoration: none;
}

.nav-quote {
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  color: whitesmoke;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /* text-align: center; */
  /* display: inline-block; */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}


.fa-envelope-open-text {
  font-size: 24px;
  padding-top: 1.5rem;
}

.label-container{
  position:fixed;
  bottom:48px;
  right:105px;
  display:table;
  visibility: hidden;
}

.label-text{
  font-family: 'Arvo', serif;
  font-size: 20px;
  color:#FFF;
  background:rgba(51,51,51,0.5);
  display:table-cell;
  vertical-align:middle;
  padding:10px;
  border-radius:3px;
}

.label-arrow{
  display:table-cell;
  vertical-align:middle;
  color:#333;
  opacity:0.5;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color: red;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #54607d;
}

.my-float{
  font-size:24px;
  margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

.name {
  font-family: 'Arvo', serif;
  color: whitesmoke;
  font-size: 92px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
      1px 1px 0 #000;  
  margin-bottom: 0;
  padding-bottom: 0;  
  padding-top: 1rem;
}

.email {
  color: whitesmoke;
  text-decoration: none;
}

.phone {
  color: whitesmoke;
  text-decoration: none;
}

.resume body{
  background-image: url("https://images.unsplash.com/photo-1485988412941-77a35537dae4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1372&q=80");
  background-size: cover;
  background-position: absolute;
  background-repeat: no repeat;
  background-attachment: fixed;
}

.container-proj-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Arvo', serif;
  color: whitesmoke;
  font-size: 30px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
      1px 1px 0 #000;  
  margin-bottom: 0;
  padding-bottom: 0; 
}



.resume-phone {
  display: none;
}

.form {
  text-align: center;
  margin: 0 auto;
  width: 398px;
  height: 25rem;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-top: 25rem;
  margin-bottom: 130px;
  margin-left: 15rem;
  margin-right: .5rem;
  border-right: 100px;
  color: whitesmoke;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  list-style-type: none;
  overflow: hidden;
  background: #808080; 
  background: -moz-linear-gradient(top, #3f4c6b 0%, #606c88 100%); 
  background: -webkit-linear-gradient(top, #3f4c6b 0%,#606c88 100%); 
  background: linear-gradient(to bottom, #3f4c6b 0%,#606c88 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 ); 
}

form div + div {
  margin-top: 25px;
}

.form input {
  font-size: 1.5rem;
}

.form textarea {
  font-size: 1.5rem;
}

button {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  padding: .5rem;
  border-radius: .5em;
}

/* .iframe {
  display: flex;
  width: 1000px;
} */

.resumeiframe {
  display: flex;
  padding-left: 2rem;
}

hr {
  outline: solid 1px black;
}

.title {
  font-family: 'Arvo', serif;
  color: whitesmoke;
  font-size: 30px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
      1px 1px 0 #000;  
  margin-bottom: 0;
  padding-bottom: 0;  
}

.web{
    font-family: 'Permanent Marker', cursive;
    font-size: 61px;
    color: whitesmoke;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000; 
    margin-top: 0;   
    padding-bottom: 1rem;
}

#trouble {
  background-color: #43506F;
  font-family: 'Arvo', serif;
  color: whitesmoke;
  font-size: 22px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
      1px 1px 0 #000;  
  margin-bottom: 5rem;
  padding-bottom: 0;  
  margin-top: 6rem;
}



  .aboutmeimage img{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }


  .footer{
    font-size: 2rem;
    display: relative;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: whitesmoke;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    list-style-type: none;
    margin: 0;
    margin-top: 5rem;
    padding-top: 10px;
    padding-bottom: .5rem;
    overflow: hidden;
    background: #808080; 
    background: -moz-linear-gradient(top, #3f4c6b 0%, #606c88 100%); 
    background: -webkit-linear-gradient(top, #3f4c6b 0%,#606c88 100%); 
    background: linear-gradient(to bottom, #3f4c6b 0%,#606c88 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 ); 
  }

  #container {
    position: relative;
    width: 50%;
    margin-left: 49rem;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    margin-top: 5.5rem;
    margin-left: 32.6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 301px;
    width: 300px;
    opacity: 0;
    transition: .7s ease;
    background-color: #54607D;
  }
  
  #container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    padding-left: 2rem;
    color: whitesmoke;
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .formphone {
    display: none;
  }

   /*---Media Queries --*/
   @media (max-width: 1370px) {
    #container {
      margin-left: 35rem;
    }

     .overlay {
       margin-left: 18.65rem;
     }

     .iframe {
       width: 1600px;
       margin-left: 1rem;
     }

     .form {
       width: 50rem;
       margin-right: 5rem;
     }
   }

   @media (max-width: 1030px) {
    .nav-quote {
      display: none;
    }

    .hr {
      display: none;
    }

    .container-proj-links {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
    }
   }

   @media (max-width: 770px){
     .navbar ul {
       font-size: 1.5rem;
       margin-right: 25rem;
     }

     .nav-quote {
       display: none;
     }

     hr {
       display: none;
     }

     .container-proj-links {
       display: flex;
       flex-direction: column;
       margin-right: 22rem;
     }

     #container {
       margin-left: 9rem;
     }

     .overlay {
       margin-left: 4.7rem;
       padding-top: 4rem;
       margin-bottom: 1rem;
     }

     .icon {
       margin-right: 7rem;
       margin-top: 13rem;
     }
     
     .resumeiframe {
       display: none;
     }

     .resume-phone {
       display: flex;
       padding-left: 20rem;
       background-color: #43506F;
       font-family: 'Arvo', serif;
      color: whitesmoke;
      font-size: 22px;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;  
     margin-bottom: 5rem;
     padding-bottom: 0;  
    margin-top: 2rem;
     }

     #trouble {
       display: none;
     }

     .formphone {
       display: flex;
       height: 100%;
       width: 100%;
     }
   }

   @media (max-width: 415px) {
     .navbar li {
       font-size: 1rem;
       text-align: center;
       margin-left: 2rem;
     }

     .name {
       font-size: 4rem;
     }

     .web {
       font-size: 3rem;
     }

     .teach {
       display: none;
     }

     .icon {
       margin-left: .5rem;
     }

     .container-proj-links img {
       display: none;
     }

     .title {
       display: flex;
       justify-content: space-around;
       margin-left: 10rem;
       padding-bottom: 1.5rem;
     }

     #container {
       margin-left: .5rem;
     }

     .footer {
       margin-top: 12rem;
       }

       .float {
         position: fixed;
         margin-right: 5rem;
       }

       .resume-phone {
         font-size: 1.5rem;
         text-align: center;
        padding-left: 4rem;
       }

       .formphone {
        display: flex;
        margin: 0;
       }
     }